@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.section-title {
  font-weight: 300;
  font-size: 4rem;
  letter-spacing: .2rem;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}
.section-title span {
  color: crimson;
}
p {
  color: white;
  line-height: 2.5rem;
  font-size: 1.4rem;
  margin-top: 5px;
  letter-spacing: .05rem;
  font-weight: 300;
}
img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.brand h1 {
  color: white;
  font-size: 3rem;
  text-transform: uppercase;
}
.brand h1 span {
  color: crimson;
}

/* Header */
#header {
  position: fixed;
  height: auto;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 20;
}
#header .header {
  min-height: 8vh;
  background-color: rgba(31, 30, 30, 0.26);
  transition: .3s ease background-color;
}
#header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 0 10px;
  max-width: 1300px;
}
#header .nav-list ul {
  background-color: rgb(31, 30, 30);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  list-style: none;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 100%;
  overflow-x: hidden;
  z-index: 1;
  transition: .5s ease-in left;
}
#header .nav-list ul.active {
  left: 0;
}
#header .nav-list ul a {
  color: white;
  display: block;
  padding: 20px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2.5rem;
  letter-spacing: .2rem;
}
#header .nav-list ul a::after {
  content: attr(data-after);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: rgba(240, 248, 255, 0.021);
  letter-spacing: 50px;
  font-size: 9rem;
  z-index: -1;
  transition: .3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
  transform: translate(-50%, -50%) scale(.8);
  letter-spacing: initial;
} 
#header .nav-list ul li:hover a {
  color: crimson;
}
#header .hamburger {
  width: 60px;
  height: 60px;
  border: 3px solid white;
  border-radius: 50%;
  position: relative;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 25;
  transform: scale(.8);
}
#header .hamburger::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border: 3px solid white;
  border-radius: 50%;
  animation: hamburger_pulse 1s ease infinite;
}
#header .hamburger .bar {
  z-index: -1;
  position: relative;
  background-color: white;
  height: 2px;
  width: 30px;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  background-color: white;
  transition: .3s ease;
  transition-property: top, bottom;
}
#header .hamburger .bar::after {
  top: 8px;
}
#header .hamburger .bar::before {
  bottom: 8px;
}
#header .hamburger.active .bar:before {
  bottom: 0;
}
#header .hamburger.active .bar:after {
  top: 0;
}
/* Header End */

/* Hero */
#hero {
  background-image: url(./image/landscape.jpg);
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
}
#hero .cta {
  display: inline-block;
  color: white;
  background-color: transparent;
  font-family: Montserrat;
  font-size: 2rem;
  letter-spacing: .1rem;
  border: 2px solid crimson;
  padding: 10px 30px;
  margin-top: 36px;
  text-transform: uppercase;
}
#hero .cta:hover {
  background-color: crimson;
  transition: .3s ease background-color;
}
#hero::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: hsla(100deg, 1%, 1%, 70%);
  z-index: -1;
}
#hero h1 {
  display: block;
  position: relative;
  width: fit-content;
  font-size: 4rem;
  color: transparent;
  animation: text_reveal .5s ease forwards;
  animation-delay: .8s;
}
#hero h1:nth-child(1) {
  animation-delay: 1s;
}
#hero h1:nth-child(2) {
  animation-delay: 2s;
}
#hero h1:nth-child(3) {
  animation: text_reveal_name .5s ease forwards;
  animation-delay: 3s;
}
#hero h1:nth-child(1) span {
  animation-delay: .5s;
}
#hero h1:nth-child(2) span {
  animation-delay: 1.5s;
}
#hero h1:nth-child(3) span {
  animation-delay: 2.5s;
}
#hero h1 span {
  background-color: crimson;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  animation: text_reveal_box 1s ease-in;
  animation-delay: .3s;
}
#hero .hero {
  display: flex;
  justify-content: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
}
/* Hero End */

/* Services */
#services .services {
  display: flex;
  flex-direction: column;
  min-height: 40vh;
  padding: 100px 0;
  max-width: 1500px;
  text-align: center;
}
#services .service-top {
  max-width: 500px;
  margin: 0 auto;
}
#services .service-top p {
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  margin-top: 10px;
  line-height: 25px;
  color: black;
}
#services .service-bottom {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#services .service-bottom h2{
  color: white;
  text-transform: uppercase;
  margin-left: 30px;
  font-size: 2rem;
}
#services .service-bottom p {
  color: white;
  line-height: 2.5rem;
  font-weight: 300;
  font-size: 1.5rem;
  margin: 30px;
  margin-top: 15px;
}
#services .service-item {
  position: relative;
  flex-basis: 80%;
  display: flex;
  background-image: url(./image/card-1.jpg);
  background-size: cover;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
  margin: 10px 40px;
  text-align: left;
}
#services .service-item::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: linear-gradient(330deg, #38121a 0%, #586585 100%);
  opacity: .8;
  z-index: -1;
}
#services .service-bottom .service-item img {
  width: 60px;
  height: 60px;
  margin: 15px;
  margin-left: 35px;
}
/* Services End */

/* Projects */
#projects .projects{
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}
#projects .projects-header h1 {
  margin-bottom: 50px;
}
#projects .all-projects {
  display: flex;
  align-items: center;
  justify-content: center;
}
#projects .project-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
}
#projects .project-item-info {
  padding : 30px;
  flex-basis: 50%;
  background-color: white;
  height:100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(65deg, #29323c 0%, #596674 100%);
  color: white;
}
#projects .project-item-info h1 {
  font-weight: 500;
  font-size: 4rem;
}
#projects .project-item-info h2 {
  font-weight: 500;
  font-size: 1.8rem;
  padding-top: 10px;
}
#projects .project-item-image {
  flex-basis: 50%;
  height: 300px;
  overflow: hidden;
  position: relative;
}
#projects .project-item-image::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: linear-gradient(30deg, #29323c 0%, #596674 100%);
  opacity: .7;
}
#projects .project-item-image img {
  transition: .3s ease transform;
}
#projects .project-item:hover .project-item-image img {
  transform: scale(1.1);
}
/* Projects End */

/* About Me */
#about .about {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 100px 20px;
}
#about .about-download {
  width: fit-content;
  height: fit-content;
  min-width: 450px;
}
#about .about-download .cta {
  display: inline-block;
  color: black;
  background-color: transparent;
  font-family: Montserrat;
  font-size: 2rem;
  letter-spacing: .1rem;
  border: 2px solid crimson;
  padding: 10px 20px;
  margin-top: 36px;
  text-transform: uppercase;
}
#about .about-download .cta:hover {
  background-color: crimson;
  transition: .3s ease background-color;
}
#about .about-info p {
  color: black;
  padding: 5px;
}
#about .about-info h2 {
  letter-spacing: 0.4rem;
  font-size: 2rem;
  font-weight: 500;
  padding: 15px 0;
}
#about .col-left {
  width: 250px;
  height: 360px;
}
#about .col-left .about-image {
  width: 100%;
  height: 100%;
  position: relative;
  border: 10px solid white;
  margin-top: 60px;
}
#about .col-left .about-image::after {
  content: '';
  width: 98%;
  height: 98%;
  position: absolute;
  border: 7px solid crimson;
  left: -33px;
  top: 19px;
  z-index: -1;
}
/* About Me End */

/* Contact */
#contact .contact {
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0 50px 0;
}
#contact .contact-items {
  width: 400px;
}
#contact .contact-item {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 0px 18px 0 #0000002c;
  padding: 30px;
  margin: 30px auto;
  transition: .3s ease box-shadow;
}
#contact .contact-item:hover {
  box-shadow: 0px 0px 5px 0 #0000002c;
}
#contact .contact-item-info h1 {
  font-weight: 500;
  font-size: 2.5rem;
  margin-bottom: 5px;
}
#contact .contact-item-info h2 {
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 2rem;
}
#contact .contact-icon img {
  width: 60px;
  height: 60px;
}
/* Contact End */

/* Footer */
#footer {
  background-image: linear-gradient(30deg, #29323c 0%, #596674 100%);
}
#footer .footer {
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 50px 0 10px 0;
}
#footer .footer-icons {
  flex-direction: row;
  margin-bottom: 30px;
}
#footer .social-item {
  display: inline-block;
}
#footer .social-item img {
  width: 50px;
  height: 50px;
  filter: grayscale();
  transition: .3s ease filter;
}
#footer .social-item:hover img {
  filter: none;
}
#footer .footer h2 {
  color: white;
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: .1rem;
  margin: 10px 0 10px 0;
}
#footer .footer p {
  font-size: 1.3rem;
}
/* Footer End */

/* Keyframes */
@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0%;
    left: 100%;
  }
}
@keyframes text_reveal {
  100% {
    color: white;
  }
}
@keyframes text_reveal_name {
  0% {
    font-weight: 300;
  }
  100% {
    color: crimson;
    font-weight: 500;
  }
}
@keyframes hamburger_pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.3);
    border: 2px solid white;
    opacity: 0;
  }
}
/* Keyframes End */

/* Media Queries */

  /* Tablet */
@media only screen and (min-width: 768px) {
  .cta {
    transform: scale(1.4);
    margin-left: 9%;
  }
  .section-title {
    font-size: 6rem;
  }
  /* Hero */
  #hero h1 {
    font-size: 7rem;
  }
  /* Hero End */

  /* Services */
  #services .service-bottom .service-item {
    flex-basis: 45%;
    margin: 2.5%;
  }
  /* Services End */

  /* Projects */
  #projects .project-item {
    border-radius: 0;
    width: 100%;
    flex-direction: row;
    margin: 0;
    height: 400px;
  }
  #projects .project-item:nth-child(even) {
    flex-direction: row-reverse;
  }
  #projects .project-item-image {
    height: 100%;
  }
  /* Projects End */

  /* About */
  #about .about {
    flex-direction: row-reverse;
  }
  #about .col-right {
    flex-direction: column;
    flex-basis: 70%;
    margin-top: 100px;
  }
  #about .col-right p {
    text-align: left;
    margin-left: 50px;
  }
  #about .col-right h2 {
    text-align: left;
    margin-left: 50px;
  }
  #about .col-left {
    margin-left: 50px;
  }
  #about .cta {
    font-size: 1rem;
  }
  /* About End */

  /* Contact */
  #contact .contact-items {
    width: 100%;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
  }
  #contact .contact-item {
    width: 30%;
    flex-basis: 30%;
  }
  /* Contact End */
} 
  /* Tablet End */

  /* Desktop */
@media only screen and (min-width: 1200px) {
  /* Header */
  #header .hamburger {
    display: none;
  }
  #header .nav-list ul {
    display: block;
    position: initial;
    height: auto;
    width: fit-content;
    background-color: transparent;
  }
  #header .nav-list ul a {
    font-size: 1.8rem;
  }
  #header .nav-list ul a:after {
    display: none;
  }
  #header .nav-list ul li {
    display: inline-block;
  }
  /* Header End */

  /* Services */
  #services .service-bottom {
    width: 100%;
  }
  #services .service-bottom .service-item {
    flex-basis: 21%;
    margin: 2%;
  }
  /* Services */

  /* About */
  #about .col-right .section-title,
  #about .about-download  {
    text-align: left;
    padding-left: 75px;
  }
  #about .about-download  {
    margin-left: 0;
  }
  /* About End */

  /* Contact */
  #contact .contact-item {
    flex-direction: row;
  }
  #contact .contact-icon {
    padding-right: 20px;
  }
  #contact .contact-icon img {
    width: 100px;
    height: 100px;
  }
  /* Contact End */
}
  /* Desktop End */

/* Media Queries End */